<tabset>
    <tab heading='Prüfungsübersicht'>
        <form #examOverview="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <h3>Prüfungsübersicht</h3>
                <table id="tblExams" class="responstable">
                    <tr>
                        <th style="width: 70%">Prüfungsbezeichnung</th>
                        <th>Notenmeldungen</th>
                        <th>Prüfungsdatum</th>
                    </tr>
                    <tr *ngFor="let exam of exams">
                        <td>{{exam.bezeichnung}}</td>
                        <td></td>
                        <td>{{exam.datum}}</td>
                    </tr>
                </table>
            </div>
        </form>
    </tab>
</tabset>